/******************************************************************************
 *
 * LAYOUT
 *
 * This section contains layouts for page formatting and block elements.
 *
 *****************************************************************************/ 

@import 'variables';

/*
 * Document titles and front matter
 */
div.frontmatter {
    border-bottom: 1px dotted #888888;

    .title-wrapper {
        margin: 2.5em 0;
        color: #000000;
        line-height: 1.2;

        .head-title {
            font-size: 240%;
            font-weight: bold;

            .head-subject   {
                margin-bottom: 0.5em;
                font-size: 70%;
            }

            .head-subtitle {
                margin-top: 0.5em;
                font-size: 70%;
            }
        }

        .head-author {
            margin-top: 2em;
        }
        .head-date {
            margin-top: 1em;
        }
        .head-publisher {
            margin-top: 1em;
        }
        .head-legal {
            margin-top: 2em;
            line-height: 1.4;
        }
    }

    a, a:link, a:hover, a:active, a:visited {
        text-decoration: none;
    }
}

/*
 * Navigation
 */
div.nav-top {
    border-bottom: 1px dotted #aaaaaa;

    .row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-top-title {
        color: #666666;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
    }

    .nav-top-buttons {
        a {
            img {
                margin: 12px 0 0 5px;
            }
        }
    }
}

div.nav-bottom {
    border-top: 1px dotted #aaaaaa;

    .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-link-dir {
        color: #000000;
        font-weight: bold;
    }
}

/*
 * Content
 */
div.content {
    ul.toc {
        list-style-type: none;
        padding-left: 0.25em;

        ul {
            list-style-type: none;
            margin: 0.25em 0;
            padding-left: 2em;
        }

        li {
            margin: 0.25em 0 0.25em 0;
        }
    }

    .textbody {
        padding-bottom: 1.5em;
    }
}

