$document-font-stack:        sans-serif;
$document-text-color:        #333333;
$document-bg-color:          #ffffff;
$document-font-size:         14px;
$document-line-height:       1.6;
$document-heading-color:     #000000;
$document-link-color:        #222299;

$grid-container-width:       960px;
$grid-gutter-width:          30px;
